################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeeklyTasks/1 - WEEK - TASK/EmployeePayrollManagement/EmployeePayrollManagement/EmployeePayrollManagement.csproj
/WeeklyTasks/1 - WEEK - TASK/EmployeePayrollManagement/EmployeePayrollManagement/EmployeePayrollManagement.csproj
/WeeklyTasks/1 - WEEK - TASK/EmployeePayrollManagement/EmployeePayrollManagement/EmployeePayrollManagement.csproj
/DailyTasks/26_08_2024/ADODemo/ADODemo/ADODemo.csproj
/DailyTasks/26_08_2024/ADODemo/ADODemo/ADODemo.csproj
/DailyTasks/26_08_2024/ADODemo/ADODemo/ADODemo.csproj
/DailyTasks/27_08_2024/ADO/ADO/ADO.csproj
/DailyTasks/27_08_2024/GridViewApp/GridViewApp/GridViewApp.csproj
/DailyTasks/27_08_2024/GridViewApp/GridViewApp/GridViewApp.csproj
/DailyTasks/27_08_2024/ADO/ADO/ADO.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
/Projects/Project-1/HotelManagementSystem/HotelManagementSystem/HotelReservationSystem.csproj
