################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeeklyTasks/1 - WEEK - TASK/EmployeePayrollManagement/EmployeePayrollManagement/EmployeePayrollManagement.csproj
/WeeklyTasks/1 - WEEK - TASK/EmployeePayrollManagement/EmployeePayrollManagement/EmployeePayrollManagement.csproj
/WeeklyTasks/1 - WEEK - TASK/EmployeePayrollManagement/EmployeePayrollManagement/EmployeePayrollManagement.csproj
